.generalContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    gap: 0.5rem ;
}

.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-span: 1;
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}