.link {
    text-decoration: none;
    color: inherit;
    &:hover {
        opacity: 0.8;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}
